
#product-overview {
    /* background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), 
        url("images/freedom.jpg") left 10% bottom 20%/cover no-repeat border-box, #ff1b68; */
    background-image: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), 
        url("images/freedom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 10% bottom 20%;
    background-origin: border-box;
    background-clip: border-box;
    background-color: #ff1b68;
    width: 100%;
    height: 528px;
    position: relative;
    top: 2.75rem;
}

#product-overview h1 {
    color: white;
    font-size: 1.9rem;
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 0%;
    left: 2%;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
    margin-top: 5rem;
    font-size: 2rem;
}

.plan-list{
    width: 90%;
    margin: auto;
    text-align: center;
}

.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    border-radius: 8px;
}

.plan--highlighted {
    background: #19b84c;
    color: white;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
    background: white;
    color: #19b84c;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #858585;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 0.5rem 0;
}

#key-features {
    background-color: #ff1b68;
    margin-top: 4rem;
}

#key-features .section-title {
    color: white;
    padding-top: 1.2rem;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
    padding: 20px;
}

.key-feature__description {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}



