main {
    padding-top: 2rem;
}

.background-image{
    background: url("../images/plans-background.jpg");
    background-position: center;
    background-size: cover;
    filter: grayscale(40%) opacity(0.8);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.package-plan {
    width: 80%;
    margin: 1rem 0;
    border: 4px solid #0e4f1f;
    border-left: none;
    position: relative;
}

.package-plan:hover,
.package-plan:active {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border-color: #ff5454;
}
.package-plan a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 2rem;
}

.package-plan__badge {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.3rem;
    font-size: 0.8rem;
    color: white;
    background-color: #ff5454;
    padding: 0.5rem;
}

.package-plan__title {
    font-weight: bold;
    color: black;
}

.package-plan__subtitle {
    color: #979797;
}
.package-plan__info {
    border: 1px solid #0e4f1f;
    padding: 1rem;
    font-size: 1.2rem;
    background: white;
    color: #0e4f1f;
    font-family: "Roboto", "sans-serif";
    font-weight: 100;
    font-style: italic;
} 

#package-plan__plus {
    background:rgba(213, 255, 220, 0.95);
}
#package-plan__free {
    background: rgba(234, 252, 237, 0.95);
    float: right;
    border-right: none;
    border-left: 4px solid #0e4f1f;
}

#package-plan__free:hover,
#package-plan__free:active {
    border-left-color: #ff5454;
}

.clear_fix {
    clear: both;
}

#package-plan__premium {
    background: rgba(14, 79, 31, 0.95);
}

#package-plan__premium .package-plan__title {
    color: white;
}

#package-plan__premium .package-plan__subtitle {
    color: #bbb;
}

@media (min-width: 40rem){
    main {
      max-width: 1500px;
      margin-left: auto;
      margin-right: auto;
    }
}

@media (min-width: 1500px){
    .package-plan {
      border-left: 4px solid #0e4f1f;
    }
    #package-plan__free {
        border-right: 4px solid #0e4f1f;
    }
    #package-plan__free:hover,
    #package-plan__free:active {
        border-right-color: #ff5454;
    }
}